{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add new post{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Write our post!</h1>
    </div>
{{ wtf.quick_form(form) }}
{{ wtf.form_errors(form) }}
{% endblock %}

