{% extends "bootstrap/base.html" %}

{% block title %} Irinnus {% endblock %}
{% block head %} 
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 class="blog-title">The Bootstrap Blog</h1>
            <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
        </div>
    {% block page_content %}{% endblock %}
    </div>
    <footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
    </footer>
{% endblock %}
