{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block page_content %}
<ul>
{% for post in posts %}
    <li><h2><a href={{url_for('show_post', post_id=post.post_id)}}>{{ post.title }}</a></h2>
        {{ post.date|safe }}</br>
{% else %}
    <li><em>Unbelievable.  No posts here so far</em>
{% endfor %}
</ul>
{% endblock %}

