{% extends "base.html" %}

{% block title %}{{ post.title | safe}}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{{ post.title | safe}}</h1>
    </div>
     <div>
        {{ post.date }}
    </div>
    <div>
        {{ post.text | safe}}
    </div>
{% endblock %}

